<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="assets/bootstrap.min.css" rel="stylesheet">
  <title>Manajemen Mahasiswa</title>
</head>

<body>

  <!-- Tombol Tambah Data -->
  <div class="container my-4">
    TOMBOL_TAMBAH
  </div>

  <!-- Tabel Mahasiswa -->
  <div class="container my-4">
    <table class="table table-bordered">
      <thead class="table-dark">
        DATA_LABEL
      </thead>
      <tbody>
        DATA_TABEL
      </tbody>
    </table>
  </div>

  <!-- JS Scripts -->
  <script src="assets/jquery.min.js"></script>
  <script src="assets/popper.min.js"></script>
  <script src="assets/bootstrap.bundle.min.js"></script>
</body>

</html>
